
<div class="container">
<div class="row  my-3">

    <div class="col-md-4 col-lg-3 order-md-2"><div class="sideblock right">	
<div class="header"><a href="/404/en/Courses" title="Courses">Courses</a></div>	
<div class="content">
<ul><li><a href="/404/en/Adding_a_new_course" title="Adding a new course">Adding a new course</a></li>
<li><a href="/404/en/Upload_courses" title="Upload courses">Upload courses</a></li>
<li><a href="/404/en/Course_categories" title="Course categories">Course categories</a></li>
<li><a href="/404/en/Course_settings" title="Course settings">Course settings</a></li>
<li><a href="/404/en/Course_formats" title="Course formats">Course formats</a></li>
<li><a class="mw-selflink selflink">Course homepage</a></li>
<li><a href="/404/en/Restrict_access" title="Restrict access">Restrict access</a></li>
<li><a href="/404/en/Stealth_activities" title="Stealth activities">Stealth activities</a></li>
<li><a href="/404/en/Course_relative_dates" title="Course relative dates">Course relative dates</a></li>
<li><a href="/404/en/Course_FAQ" title="Course FAQ">Course FAQ</a></li></ul>
</div>
</div></div>

    <div class="col-md-8 col-lg-9">
<!--?xml encoding="UTF-8"--><div id="mw-content-text" class="mw-body-content mw-content-ltr" lang="en" dir="ltr"><div class="mw-parser-output">

<p>A Moodle course can look very different depending on the theme and course format (layout). Standard themes are the <a href="/404/en/Boost_theme" title="Boost theme">Boost theme</a> and the Classic theme. 
</p>
<figure class="embedvideo" data-service="youtube" data-iframeconfig="{&quot;src&quot;:&quot;//www.youtube-nocookie.com/embed/gxyJ__ij38U?autoplay=1&quot;}" style="width:640px"><!--
--><span class="embedvideo-wrapper" style="height:360px"><div class="embedvideo-consent" data-show-privacy-notice="1"><picture class="embedvideo-thumbnail"><img src="https://i.ytimg.com/vi/gxyJ__ij38U/hqdefault.jpg" loading="lazy" class="embedvideo-thumbnail__image"></picture><!--
--><div class="embedvideo-overlay"><!--
--><div class="embedvideo-loader" role="button"><div class="embedvideo-loader__title"><a class="embedvideo-loader__link" href="//www.youtube-nocookie.com/embed/gxyJ__ij38U?autoplay=1" target="_blank" rel="noopener noreferrer nofollow">Course page improvements in Moodle 4.4</a></div><!--
--><div class="embedvideo-loader__fakeButton">Load video</div><!--
--><div class="embedvideo-loader__footer"><!--
--><div class="embedvideo-loader__service">YouTube</div><!--
--></div><!--
--></div><!--
--><div class="embedvideo-privacyNotice hidden"><!--
--><div class="embedvideo-privacyNotice__content">YouTube might collect personal data. <a href="https://www.youtube.com/howyoutubeworks/user-settings/privacy/" rel="nofollow,noopener" target="_blank" class="embedvideo-privacyNotice__link">Privacy Policy</a></div><!--
--><div class="embedvideo-privacyNotice__buttons"><!--
<p>			--><button class="embedvideo-privacyNotice__continue btn btn-success m-3">Continue</button><!--
--><button class="embedvideo-privacyNotice__dismiss btn btn-danger">Dismiss</button><!--
</p>
--></div><!--
--></div><!--
--></div><!--
--></div></span><figcaption>4.4 course page improvements</figcaption>
</figure>
<div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading"><input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2 id="mw-toc-heading">Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Parts_of_a_course"><span class="tocnumber">1</span> <span class="toctext">Parts of a course</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Classic_theme"><span class="tocnumber">2</span> <span class="toctext">Classic theme</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#View_a_single_course_section"><span class="tocnumber">3</span> <span class="toctext">View a single course section</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Edit_a_course_section"><span class="tocnumber">4</span> <span class="toctext">Edit a course section</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Duplicate_a_course_section"><span class="tocnumber">5</span> <span class="toctext">Duplicate a course section</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Get_a_permalink_to_a_course_section"><span class="tocnumber">6</span> <span class="toctext">Get a permalink to a course section</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Move_a_course_section"><span class="tocnumber">7</span> <span class="toctext">Move a course section</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Add_course_sections"><span class="tocnumber">8</span> <span class="toctext">Add course sections</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#To_delete_a_course_section"><span class="tocnumber">9</span> <span class="toctext">To delete a course section</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#Add_activities_and_resources"><span class="tocnumber">10</span> <span class="toctext">Add activities and resources</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#Group_mode"><span class="tocnumber">11</span> <span class="toctext">Group mode</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#Indent_activities_or_resources"><span class="tocnumber">12</span> <span class="toctext">Indent activities or resources</span></a>
<ul>
<li class="toclevel-2 tocsection-13"><a href="#Move_activities_or_resources"><span class="tocnumber">12.1</span> <span class="toctext">Move activities or resources</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-14"><a href="#Bulk_edit_activities,_resources_or_sections"><span class="tocnumber">13</span> <span class="toctext">Bulk edit activities, resources or sections</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#Blocks"><span class="tocnumber">14</span> <span class="toctext">Blocks</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#Course_homepage_capabilities"><span class="tocnumber">15</span> <span class="toctext">Course homepage capabilities</span></a></li>
</ul>
</div>

<h4><span class="mw-headline" id="Parts_of_a_course">Parts of a course</span></h4>
<p>1. Course navigation. These provide a quick way for the teacher to access important aspects of the course. The More link takes you to, for example, the Content and Question banks and Course reuse which incorporates Backup, Restore, Import, Reset and Copy.
</p><p>2. Course index. This is a scrollable, collapsible drawer that displays course sections and elements. As you move up and down the central course area, your location is highlighted in the Course index. Clicking on an item in the Course index will open it up directly in the course central area. Sections in the course index can be collapsed or expanded in bulk from the kebab menu.
</p><p>3. Edit mode toggle. An easy way to toggle edit mode on and off.
</p><p>4. Block drawer. This is not visible until you have enabled edit mode and added a block. The block drawer can be collapsed and expanded as a user preference.
</p><p><br>
5. <a href="/404/en/Course_formats" title="Course formats">Course sections</a>
</p><p>Here is where the learning materials are displayed. This element may be arranged in one or multiple weeks, topics, forums or other (non-standard) layouts.
</p><p>6. Collapse all. Sections can be collapsed and expanded individually or you can use the Collapse all link to collapse them all at once.
</p>
<h4><span class="mw-headline" id="Classic_theme">Classic theme</span></h4>
<p>1.<a href="/404/en/Navigation_block" title="Navigation block">Navigation block</a>
</p><p>Normally visible on all pages, this block helps you find your way around the course and site.
</p><p>2.<a href="/404/en/Administration_block" title="Administration block">Administration block</a>
</p><p>Again, normally visible on all pages, this block gives different levels of access to teachers and students.
</p><p>3. Turn editing on
A clearly visible button allows you to turn editing on and off.
</p><p>4. <a href="/404/en/Course_formats" title="Course formats">Course sections</a>
</p><p>Here is where the learning materials are displayed. This element may be arranged in one or multiple weeks, topics, forums or other (non-standard) layouts.
</p><p>5. Collapse all. Sections can be collapsed and expanded individually or you can use the Collapse all link to collapse them all at once.
</p><p>6.<a href="/404/en/Blocks" title="Blocks">Side blocks</a>
</p><p>Side blocks can be added when the editing is turned on. Which blocks you see depend on what the administrator has selected and what you as teacher choose to add.
</p><p><br>
</p>
<h3><span class="mw-headline" id="View_a_single_course_section">View a single course section</span></h3>
<p><span class="small-info-right"><a href="/404/en/Category:New_features" title="Category:New features">New feature<br>in <b>Moodle 4.4</b>!</a></span>
</p>
<ul><li>With edit mode off, all users can click a section heading to access one particular section in its own page.</li>
<li>With edit mode on, teachers can click View  from the three dots on the right to access just that section.</li></ul>
<div class="center"><div class="floatnone"><a href="/404/en/File:viewsection.png" class="image"><img alt="View a single section when edit mode enabled" src="/404/en/images_en/5/5a/viewsection.png" decoding="async" width="298" height="430" data-file-width="298" data-file-height="430"></a></div></div>
<h3><span class="mw-headline" id="Edit_a_course_section">Edit a course section</span></h3>
<ol><li>Enable Edit mode/turn editing on</li>
<li>Quickly rename sections from the pencil icon.</li></ol>
<h3><span class="mw-headline" id="Duplicate_a_course_section">Duplicate a course section</span></h3>
<ol><li>Enable Edit mode/turn editing on.</li>
<li>From the three dots to the right of the section name, click Duplicate.</li></ol>
<h3><span class="mw-headline" id="Get_a_permalink_to_a_course_section">Get a permalink to a course section</span></h3>
<ol><li>Enable Edit mode/turn editing on.</li>
<li>From the three dots to the right of the section name, click Permalink.</li></ol>
<h3><span class="mw-headline" id="Move_a_course_section">Move a course section</span></h3>
<p><b>Note:</b>The ability to move course sections is controlled by the capability <a href="/404/en/Capabilities/moodle/course:movesections" title="Capabilities/moodle/course:movesections">moodle/course:movesections</a>, which is allowed for the default role of teacher. See also the section below on Bulk editing.
</p>
<ol><li>Enable edit mode/turn editing on</li>
<li>Drag and drop the section either from the course central area or the Course index to your chosen location.</li></ol>
<p>If your course is long you can also drag from the central area to a location in the Course index, and/or you can click the three dots next to a section, select Move and choose the location to move it to.
</p>
<h3><span class="mw-headline" id="Add_course_sections">Add course sections</span></h3>
<ol><li>Enable edit mode/turn editing on.</li>
<li>Scroll to the bottom of the course page and click Add section or Add week, depending on the course format you are using.</li></ol>
<div class="center"><div class="floatnone"><a href="/404/en/File:addsectionweek.png" class="image"><img alt="addsectionweek.png" src="/404/en/images_en/a/a2/addsectionweek.png" decoding="async" width="801" height="203" data-file-width="801" data-file-height="203"></a></div></div>
<h3><span class="mw-headline" id="To_delete_a_course_section">To delete a course section</span></h3>
<p>With the editing turned on, click the 'Edit' link to the right of the course section you wish to delete and then, from the menu that displays, click 'X Delete'. You will be prompted to confirm your wish to delete the section and its contents. Note that all activities inside the section and their user data will also be deleted. Use the <a href="/404/en/Recycle_bin" title="Recycle bin">Recycle bin</a> to reverse this if you do it by mistake.
</p><p><br>
</p>
<h2><span class="mw-headline" id="Add_activities_and_resources">Add activities and resources</span></h2>
<p>To add an activity or resource to the course, first enable edit mode and then
</p><p>Either...
</p>
<ul><li>Click on the course page wherever you want to add your activity. This will open up the <a href="/404/en/Activity_chooser" title="Activity chooser">Activity chooser</a>, allowing you to select your activity or resource.</li></ul>
<ul><li>Click 'Add an activity or resource' to open the activity chooser. Double-click to add an activity or resource; click the i for more information and click the star icon to add it to a separate, starred tab.</li></ul>
<p>Alternatively, certain resources and activities may be added using drag and drop:
</p>
<ul><li>To add a <a href="/404/en/File" class="mw-redirect" title="File">file</a>, simply drag and drop it onto the course section where you'd like it to appear</li>
<li>To add a <a href="/404/en/Folder" class="mw-redirect" title="Folder">folder of files</a>, simply zip the folder then drag and drop it onto the course section where you'd like it to appear, answer 'Unzip files and create folder' to the popup dialogue, then click the upload button</li>
<li>To add a <a href="/404/en/SCORM_module" class="mw-redirect" title="SCORM module">SCORM package</a>, simply drag and drop it onto the course section where you'd like it to appear, answer 'Add a SCORM package' to the popup dialogue, then click the upload button.</li></ul>
<h2><span class="mw-headline" id="Group_mode">Group mode</span></h2>
<p>With edit mode on, when you hover over an activity or resource supporting groups, a group mode icon appears. Click on it and a modal window will display allowing you to select visible/separate or no groups. You can also access Group mode options from the activity actions submenu (three dots to the right).
</p>
<div class="center"><div class="floatnone"><a href="/404/en/File:groumodeicons.png" class="image"><img alt="groumodeicons.png" src="/404/en/images_en/c/c8/groumodeicons.png" decoding="async" width="439" height="383" data-file-width="439" data-file-height="383"></a></div></div>
<p>Students do not see these icons.
</p>
<h2><span class="mw-headline" id="Indent_activities_or_resources">Indent activities or resources</span></h2>
<p>If allowed by admin (see <a href="/404/en/Course_formats" title="Course formats">Course formats</a>) teachers can move an activity or resource once to the right. This indentation is also reflected in the course index.
</p>
<h3><span class="mw-headline" id="Move_activities_or_resources">Move activities or resources</span></h3>
<ol><li>Enable edit mode/turn editing on</li>
<li>Drag and drop the item either from the course central area or the Course index to your chosen location.</li></ol>
<p>If your course is long you can also drag from the central area to a location in the Course index, and/or you can click the three dots next to a item, select Move and choose the location to move it to. See also the section on Bulk editing.
</p><p>With edit mode on, from the actions submenu (three dots) to the right of an activity, the setting 'Availability' displays when clicked a modal window allowing a teacher to:
</p>
<ul><li><ul><li>show on the course page.</li>
<li>hide on the course page.</li>
<li>make available but don't show (if stealth mode is enabled).</li></ul></li></ul>
<p>Once a choice has been made, as a teacher you can then edit it directly from under the item:
</p>
<div class="center"><div class="floatnone"><a href="/404/en/File:availabilitydirect.png" class="image"><img alt="availabilitydirect.png" src="/404/en/images_en/7/79/availabilitydirect.png" decoding="async" width="505" height="123" data-file-width="505" data-file-height="123"></a></div></div>
<h2><span id="Bulk_edit_activities.2C_resources_or_sections"></span><span class="mw-headline" id="Bulk_edit_activities,_resources_or_sections">Bulk edit activities, resources or sections</span></h2>
<ul><li>With edit mode enabled, click the link Bulk actions near the top right of the screen.</li>
<li>Checkboxes will appear next to sections, resources and activities.</li>
<li>Click the ones you want to edit and from the footer at the bottom, choose the action you want to take: Change availability, Duplicate, Move or Delete.</li>
<li><b>Note:</b> For sections, the option to duplicate is not present as you duplicate sections individually from the action menu (three dots) to the right of its name.</li></ul>
<h2><span class="mw-headline" id="Blocks">Blocks</span></h2>
<p>The Boost and Classic themes only only displays blocks on the right, although contributed themes might display them on the left. 
</p><p>To add a block to the course page
</p>
<ol><li>Enable Edit mode top right.</li>
<li>Expand the block drawer and click Add block. Select your block.</li></ol>
<p>To move a block
</p>
<ol><li>With Edit mode on, click the crosshair icon on a block.</li>
<li>While keeping the block selected, drag it to where you want to position it and let go.</li></ol>
<h2><span class="mw-headline" id="Course_homepage_capabilities">Course homepage capabilities</span></h2>
<ul><li><a href="/404/en/Capabilities/moodle/course:sectionvisibility" title="Capabilities/moodle/course:sectionvisibility">Control section visibility</a></li>
<li><a href="/404/en/Capabilities/moodle/course:setcurrentsection" title="Capabilities/moodle/course:setcurrentsection">Set current section</a></li></ul>
<!-- 
NewPP limit report
Cached time: 20240718101201
Cache expiry: 86400
Reduced expiry: false
Complications: [show&#8208;toc]
CPU time usage: 0.039 seconds
Real time usage: 0.250 seconds
Preprocessor visited node count: 94/1000000
Post&#8208;expand include size: 678/2097152 bytes
Template argument size: 71/2097152 bytes
Highest expansion depth: 4/100
Expensive parser function count: 0/100
Unstrip recursion depth: 0/20
Unstrip post&#8208;expand size: 1253/5000000 bytes
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    9.953      1 -total
58.01%    5.774      1 Template:New_features
23.02%    2.291      1 Template:MediaPlayer
16.96%    1.688      1 Template:Courses
-->

<!-- Saved in parser cache with key 404docs_en:pcache:idhash:1268-0!canonical and timestamp 20240718101200 and revision id 148406.
-->
</div></div><div class="printfooter">
Retrieved from "<a dir="ltr" href="https://docs.moodle.org/404/en/index.php?title=Course_homepage&amp;oldid=148406">https://docs.moodle.org/404/en/index.php?title=Course_homepage&amp;oldid=148406</a>"</div>

</div>

   </div>
   </div>
   